<nav class="navbar row " >

    <div class="col-lg-2 col-md-3 col-3 ">
        <a href="/">
            <img class="logo  img-fluid" src="../../assets/store-logo.png">
        </a>
    </div>

    <div class="col-1 d-xs-none d-sm-block"></div>


    <div class="col-3 p-0">
        <input type="text" class="form-control search-bar"   placeholder="Search.." >
    </div>
    <div class="col-1 p-0" >
        <button class="btn  search-icon"  ><i class="fa fa-search"></i></button>
    </div>
    
    
    

    <div class="col-3 col-md-2"></div>

    <div class="col-1 p-0 ">
        <a href="/" >
            <img class="logo right-logos img-fluid" src="../../assets/shopping-bag.png   ">
        </a>
        <a class="nav-bar-link" href="">
            <p class="header-titles">Panier</p>
        </a>
    </div>
    
    <div class="col-1 d-none d-md-block p-0">
        <a href="/" class="">
            <img class="logo  right-logos img-fluid" src="../../assets/whish-list.png">
        </a>
        <a class="nav-bar-link " href="">
            <p class="header-titles">Favoris</p>
        </a>
    </div>

    <div class="col-lg-1  d-none d-lg-block p-0">
        <a href="/" class="">
            <img class="logo right-logos img-fluid" src="../../assets/user.png">
        </a>
        <a class="nav-bar-link " href="">
            <p class="header-titles">Connexion</p>
        </a>
    </div>
</nav>
